<h1>Choose a quiz:</h1>
<h2>Categories:</h2>
<div fxLayoutGap="0.5em">
<button *ngFor="let cat of categories" (click)="onFilterQuizzes(cat)" mat-raised-button color="primary">{{cat}}</button>
<button (click)="onResetFilter()" mat-raised-button color="primary"><mat-icon>restore</mat-icon> reset</button>
</div>
<div fxLayout="row wrap" fxLayoutGap="1em">
<app-quiz-info 
*ngFor="let quiz of quizzes" 
[quiz]="quiz" 
[isAdmin]="isAdmin"
(deleteQuizEmitter)="deleteQuiz($event)"></app-quiz-info>
</div>