<mat-card class="example-card" fxLayoutAlign="center center" fxLayout="column">
    <mat-card-header>      
      <mat-card-title>{{quiz.name}}</mat-card-title>
      <mat-card-subtitle>Created by: {{quiz.creator}} <br />on: {{quiz.createdOn | date}}</mat-card-subtitle>
      <mat-card-subtitle>Category: {{quiz.category}}</mat-card-subtitle>
    </mat-card-header>    
    <mat-card-content>
      <p>
        {{quiz.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/quiz/{{quiz._id}}" mat-raised-button color="primary">Start quiz</a>
      <a *ngIf="isAdmin" routerLink="/quiz/edit/{{quiz._id}}" class="editBtn" mat-raised-button>Edit quiz</a>
      <button *ngIf="isAdmin" mat-raised-button (click)="openDialog()" color="warn">Delete quiz</button>
    </mat-card-actions>
</mat-card>